.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista-menu {
    display: block;
}

.container_botao:checked ~ .container_rotulo > .cabecalho_menu-hamburguer {
    background-image: url(../img/menu_black_24dp\ 1.svg);
}

.container_botao:checked ~ .container_rotulo {
    background: var(--azul-degrade);
}

.lista-menu_titulo, .lista-menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_titulo, .container_texto, .container_botao, .opcoes {
    display: none;
}

@media (min-width: 1024px) {
    .container_titulo, .container_titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes_item {
        text-transform: uppercase;
        padding: 2em 1em;
    }

    .opcoes_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_img-transparente, .cabecalho_menu-hamburguer, .opcoes_botao {
        display: none;
    }

    .opcoes_botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes_botao:checked ~ .opcoes_rotulo > .opcoes_item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu_item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu_item:hover > .lista-menu_link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }

    .container_titulo {
        margin-right: 2em;
    }

    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container_texto {
        display: block;
    }

    .opcoes {
        margin-right: auto;
    }
}